*, ::after, ::before {
    box-sizing: border-box;
}
body {
	background-color: $background_body;
	font-family: $font_style_base;
	line-height: 1.5;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.container-form {
	max-width: 970px;
	margin: auto;
}

// Footer