.button {
	text-decoration: none;
	border-radius: 40px;
	background: linear-gradient(to right, #003b61, #0e0058);
	color: white;
	padding: 22px 48px;
	text-align: center;
}

// Класс модификатор(в файле пишется ниже для отмены свойств основного класса)
.button_subscribe {
	
}

.button_white {
	background: white;
	color: $Navy_blue;
}

.button_transparent {
	background: none;
	border-color: white;
	border-style: solid;
	padding: 18px 58px;
}

.button_border {
	border: none;
	border-radius: 0;
}