.form {

}

.form-input {
	padding: 20px 15px;
	width: 570px;
}
.form-input260 {
	padding: 20px 15px;
	width: 260px;
}
.form-input10 {
	max-height: 10px;
	max-width: 10px;
}
.form-input_textarea {
	height: 170px;
}

.form-input_email {
	background: white;
	max-width: 800px;
	margin: auto;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px 2px 2px 20px;
}
.from-input-subscribe {
	border: 0;
	width: 100%;
	outline: none;
}

.from-input-subscribe:focus .form-input_email {
	outline: 1px solid blue;
}