.testimonial-slideshow {
	&__nav {
		position: absolute;
		bottom: 40px;
		right: 80px;
	}

	&__nav-button {
		outline: none;
		border: none;
		cursor: pointer;
		transition: .3s ease-out;
		&:hover {
			background-color: $blue;
		}
	}

	&__slide {
		display: none;

		&_visible {
			display: block;
		}
	}
}