.bg-blue-gradient {
	background: -webkit-gradient(linear, left top, right top, from(#003b61), to(#0e0058));
	background: linear-gradient(to right, #003b61, #0e0058);
}
.bg-social {
  background-color: #a0a0a0;
	width: 50px;
	height: 46px;
}
.bg-social-blue {
	background-color: #003b61;
	width: 50px;
		height: 46px;
}